{% extends 'home.html' %}

{% block content %}
<a href="{{ url_for('cart', username=user.username) }}" class="btn btn-secondary mt-3">Back</a>

<div class=" bg-light" style="width: 40%; margin: auto; padding: 20px">
    <h2>Invoice</h2>
    <ul class="list-unstyled text-centre" style="font-size: 20px; font-family: 'Times New Roman', Times, serif; color: rgb(36, 30, 30);">
        {% for product in user.cart.cart_products %}
            <li class="my-3 mx-2">{{ product.name }} (Qty: {{ product.quantity }}) - Rs.{{ product.price * product.quantity }}</li>
        {% endfor %}
    </ul>
    {% if first %}
    <p class="total-price mt-4"> <h3>Discount : Rs.{{ first }}</h3></p>
    {% endif%}
    <h3>Total Price: Rs. {{ total_price }}</h3>

    <form action="/checkout" method="POST" class="mt-3">
        <button type="submit" class="btn btn-success">Place Order</button>
    </form>

</div>

{% endblock %}
